html,
body {

}

h1,
h2,
h3,
h4,
h5,
h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

img {

}

input:focus,
select:focus,
button:focus,
textarea:focus {

}

a:hover,
a:focus {

}

ul,
ol {

}

/* add appropriate colors to fb, zalo and google buttons */
.social-list .social-item {
	color: white;
	opacity: 0.85;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 26px;
	overflow: hidden;
	display: inline-block;
	margin-right: 5px;
}

.social-list .social-item:hover {
	opacity: 1;
}

.social-list .social-item i {
	font-size: 26px;
	padding-right: 15px;
}

.social-list .fb {
	background-color: #3b5998;
	/*width: calc(100% - 110px);*/
}

.social-list .twitter {
	background-color: #1ab2e8;
}

.social-list .twitter i {
	margin-left: -2px;
}

.social-list .zalo {
	background: url('../images/zalo.png') no-repeat;
	background-size: cover;
	text-indent: 200px;
}

.social-list .google {
	background-color: #db402c;
}

.social-list .google i {
	margin-left: -5px;
}
/* add appropriate colors to fb, zalo and google buttons */


.text-center-line {
	text-align: center;
	position: relative;
	padding-top: 10px;
	padding-bottom: 15px;
}

.text-center-line:after, .text-center-line:before {
	content: '';
	width: 40%;
	height: 1px;
	display: block;
	position: absolute;
	top: 45%;
	z-index: 999;
	background-color: #d3d3d3;
}
.text-center-line:after {
	right: 0;
}

.required-label:after {
	content: ' *';
	color: #EF4E4E;
	font-weight: bold;
}

.form-control::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #7d7d7d !important;
}

.form-control::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
textarea::-moz-placeholder {
	color: #7d7d7d !important;
}

.form-control:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #7d7d7d !important;
}

select.form-control {
	color: #71748d;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-position: 100% 50%;
	background-size: auto;
	background-repeat: no-repeat;
	background-image: url(../images/arrow_down.svg);
	padding-right: 20px;
	border: 1px solid #d2d2e4;
	min-width: 60px;
}

.breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item.active {
	color: #fff !important;
}

.http-error h2 {
    font-size: 140px;
    font-weight: 700;
    line-height: 14
	0px;
}

.loading {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    z-index: 2000;
    position: fixed;
}

.loading .spinner-grow {
    position: fixed;
    z-index: 1100;
    top: 50%;
    left: 50%;
    transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
}

.catcool-table-of-contents {
	font-size: 0.8rem;
	padding: 5px;
	margin: 15px auto 20px auto;
	background-color: #fafafa;
    border: 1px solid #dadada;
    border-radius: 5px;
	width: 100%;
	max-width: 500px; 
	overflow: hidden;
}

.catcool-table-of-contents .accordion, .catcool-table-of-contents .accordion-body {
	padding: 0;
	margin: 0;
}

.catcool-table-of-contents .accordion-item, .catcool-table-of-contents .accordion-button, .catcool-table-of-contents .accordion-button:not(.collapsed) {
	background-color: #fafafa;
}
.catcool-table-of-contents .accordion {}

.catcool-table-of-contents .accordion-button {
	margin: 0;
	padding: 5px 10px 10px 10px;
}

.catcool-table-of-contents .accordion-button.collapsed {
	padding: 5px 10px 5px 10px;
}

.catcool-table-of-contents .accordion-button:not(.collapsed) {
	color: #5e5e5e;
}

.catcool-table-of-contents .accordion-button:focus {
	box-shadow:none;
}

.catcool-table-of-contents .accordion .accordion-item h4 {
	border-radius: 0px;
	padding: 0;
}

.catcool-table-of-contents .accordion ul, .catcool-table-of-contents .offcanvas ul {
	display: inline-block;
	margin: 7px 0 3px 20px;
	padding: 5px;
	list-style: decimal;
	width: 90%;
}

.catcool-table-of-contents .accordion ul ul, .catcool-table-of-contents .offcanvas ul ul {
	margin: 5px 0 5px 15px;
	padding: 0;
	list-style: lower-alpha;
}

.catcool-table-of-contents .accordion ul ul ul, .catcool-table-of-contents .offcanvas ul ul ul {
	list-style: circle;
    margin: 0px 0 5px 20px;
}

.catcool-table-of-contents .accordion ul li, .catcool-table-of-contents .offcanvas ul li {
	margin: 0;
	padding: 0;
}

.catcool-table-of-contents .accordion ul li a.nav-link, .catcool-table-of-contents .offcanvas ul li a.nav-link {
	padding: 3px 0;
	color: #5e5e5e;
	border-radius: 0;
	border-bottom: 1px solid #e3e3e3;
	position: relative;
    text-transform: capitalize;
	display: block;
}

.catcool-table-of-contents .offcanvas ul li a.nav-link {
	color: #444444;
	font-size: 0.9rem;;
}

.catcool-table-of-contents .offcanvas ul li li a.nav-link {
	color: #636363;
}

.catcool-table-of-contents .accordion li li a.nav-link, .catcool-table-of-contents .offcanvas li li a.nav-link {
	margin: 0;
	padding: 3px 0 3px 5px;
	border: none;
}

.catcool-table-of-contents .accordion ul li a.nav-link:hover, .catcool-table-of-contents .accordion ul li a.nav-link.active,
.catcool-table-of-contents .offcanvas ul li a.nav-link:hover,.catcool-table-of-contents .offcanvas ul li a.nav-link.active
{
	background: none;
	color: #000000;
}

.catcool-table-of-contents .accordion ul li a.nav-link:hover:after, .catcool-table-of-contents .accordion ul li a.nav-link.active:after,
.catcool-table-of-contents .offcanvas ul li a.nav-link:hover:after,.catcool-table-of-contents .offcanvas ul li a.nav-link.active:after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 3.75rem;
    height: 2px;
    background: #258ca3;
}

.catcool-table-of-contents .accordion li li a.nav-link:hover:after, .catcool-table-of-contents .accordion li li a.nav-link.active:after,
.catcool-table-of-contents .offcanvas li li a.nav-link:hover:after,.catcool-table-of-contents .offcanvas li li a.nav-link.active:after
{
	height: 0;
}

.catcool-table-of-contents .offcanvas {
	z-index: 2000;
	max-width: 300px;
}

.catcool-table-of-contents .offcanvas .offcanvas-body {
	padding: 30px 0;
}

.catcool-table-of-contents .button-table-of-content {
	display: none;
	position: fixed;
	bottom: 50%;
	left: 40px;
	z-index: 99;
	outline: none;
	background-color: rgba(218, 218, 218, 0.8);
	border: 1px solid #5e5e5e;
	color: #5e5e5e;
	cursor: pointer;
	height: 40px;
	width: 40px;
	padding: 1px 0 0 0;
    text-align: center;
	border-radius: 10px;
	font-size: 22px;
	animation: fadeInBottomLeft;
	-webkit-animation: fadeInBottomLeft;
	-moz-animation: fadeInBottomLeft;
	-ms-animation: fadeInBottomLeft;
	-o-animation: fadeInBottomLeft;
	animation-duration: 1s;
}

.button-menu-detail {
	display: none;
	position: fixed;
	bottom: 35px;
	left: 35px;
	font-size: 20px;
    padding: 2px 0 0 0;
	height: 40px;
	width: 40px;
	z-index: 99;
	outline: none;
	background-color: rgba(218, 218, 218, 0.8);
	border: 1px solid #5e5e5e;
	color: #5e5e5e;
	cursor: pointer;
	border-radius: 10px;
	animation: fadeInBottomLeft;
	-webkit-animation: fadeInBottomLeft;
	-moz-animation: fadeInBottomLeft;
	-ms-animation: fadeInBottomLeft;
	-o-animation: fadeInBottomLeft;
	animation-duration: 1s;
}

.catcool-table-of-contents .button-table-of-content:hover, .button-menu-detail:hover {
	background-color: rgba(72, 58, 58, 0.6);
}

