html,
body {

}

h1,
h2,
h3,
h4,
h5,
h6 {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

img {

}

input:focus,
select:focus,
button:focus,
textarea:focus {

}

a:hover,
a:focus {

}

ul,
ol {

}

/* add appropriate colors to fb, zalo and google buttons */
.social-list .social-item {
	color: white;
	opacity: 0.85;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 26px;
	overflow: hidden;
	display: inline-block;
	margin-right: 5px;
}

.social-list .social-item:hover {
	opacity: 1;
}

.social-list .social-item i {
	font-size: 26px;
	padding-right: 15px;
}

.social-list .fb {
	background-color: #3b5998;
	/*width: calc(100% - 110px);*/
}

.social-list .twitter {
	background-color: #1ab2e8;
}

.social-list .twitter i {
	margin-left: -2px;
}

.social-list .zalo {
	background: url('../images/zalo.png') no-repeat;
	background-size: cover;
	text-indent: 200px;
}

.social-list .google {
	background-color: #db402c;
}

.social-list .google i {
	margin-left: -5px;
}
/* add appropriate colors to fb, zalo and google buttons */


.text-center-line {
	text-align: center;
	position: relative;
	padding-top: 10px;
	padding-bottom: 15px;
}

.text-center-line:after, .text-center-line:before {
	content: '';
	width: 40%;
	height: 1px;
	display: block;
	position: absolute;
	top: 45%;
	z-index: 999;
	background-color: #d3d3d3;
}
.text-center-line:after {
	right: 0;
}

.required-label:after {
	content: ' *';
	color: #EF4E4E;
	font-weight: bold;
}

.form-control::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #7d7d7d !important;
}

.form-control::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
textarea::-moz-placeholder {
	color: #7d7d7d !important;
}

.form-control:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #7d7d7d !important;
}

select.form-control {
	color: #71748d;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-position: 100% 50%;
	background-size: auto;
	background-repeat: no-repeat;
	background-image: url(../images/arrow_down.svg);
	padding-right: 20px;
	border: 1px solid #d2d2e4;
	min-width: 60px;
}

.breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item.active {
	color: #fff !important;
}

.http-error h2 {
    font-size: 140px;
    font-weight: 700;
    line-height: 14
	0px;
}

.loading {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    z-index: 2000;
    position: fixed;
}
.loading .spinner-grow {
    position: fixed;
    z-index: 1100;
    top: 50%;
    left: 50%;
    transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
}