html {
	direction: ltr;
	box-shadow: none !important;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	overflow-x: hidden;
	background-color: #dee2e6;
	-webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
	font-size: 1rem;
}

dl, ol, ul , p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #258ca3;
}

a:hover {
    color: #DF3062;
}

#content {
    /*overflow: hidden;*/
}

.fs-small {
	font-size: small;
}

header.header {
    border-bottom: 2px solid rgb(223 48 98 / 60%);
    background-color: #fff;
    overflow: hidden;
    /*background: linear-gradient(0deg, #ffb8e6 0%, #ffd5ef 10%, #ffffff 80%);*/
}

header.header .dropdown-item {
	padding: .25rem .5rem;
	font-size: 16px;
}

header.header .navbar-light .navbar-brand img {
	height: 39px;
}

header.header #menu_main li a:hover {
	background: none;
	color: #DF3062;
}

header.header.fixed {
	position: fixed;
	top:0;
	width: 100%;
	text-align: center;
	background-color: rgb(255 255 255 / 90%);
	z-index: 100;
	animation: fadeInDown;
	-webkit-animation: fadeInDown;
	-moz-animation: fadeInDown;
	-ms-animation: fadeInDown;
	-o-animation: fadeInDown;
	animation-duration: 1s;
}

header.header.fixed .navbar-light .navbar-brand img {
	height: 30px;
	margin-top: -5px;
	animation: fadeInDown;
	-webkit-animation: fadeInDown;
	-moz-animation: fadeInDown;
	-ms-animation: fadeInDown;
	-o-animation: fadeInDown;
	animation-duration: 1s;
}

.header-body-padding-fixed {
	padding-top: 49px;
}

article {
	margin: 5px 0;
	width: 100%;
	clear: both;
	display: block;
	/*overflow: auto;*/
}

article .art-image {
	float: left;
	margin-right: 15px;
	width: 33%;
}

article .art-image.art-image-right {
	float: right;
	margin: 0 0 0 15px;
}

article .art-image.art-image-small {
	width: 20%;
	max-width: 110px;
}

article .art-image img {
	width: 100%;
}

article header {
}

article h4 {
	font-size: 1.077rem;
}

article h4 a {
	text-decoration: none;
	color: #333333;
}

article h4 a:hover {
	color: #DF3062;
}

article .art-category {
	text-decoration: none;
	color: #258ca3;
	font-size: small;
}

article .art-category:hover {
	text-decoration: underline;
}

article .art-time {
	font-size: smaller;
	color: #888888;
	font-style: italic;
}

article .art-description {
	color: #6c757d;
}

article.home-page h4 {
	font-size: 26px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.3;
}

article.category h4 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1.3;
}

.category-name {
	border-bottom: 1px solid #DF3062;
	padding-bottom: 1px;
	text-align: left;
	margin: 15px 0;
}

.category-name a, .category-name span {
	border-bottom: 5px solid #DF3062;
	padding: 3px 0 3px 0;
	color: #333;
	font-weight: 500;
	font-size: 18px;
}

.category-name:hover a {
	color: #DF3062;
}

.newspaper {
	background: #e9d1ad;
	/*background: linear-gradient(123deg, #ffe0b1 0%, #e9d1ad 21%, #c3a06c 100%);*/
	color: #3a220f;
	padding: 20px 25px;
	overflow: hidden;
	position: relative;
	box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	-moz-box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	-webkit-box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.newspaper::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #e9d1ad url('../images/bg-news-hot.jpeg');
	background-size: cover;
	opacity: 0.4;
	z-index: 1;
}

.newspaper article {
	position: relative;
	z-index: 3;
}

.newspaper .newspaper-image img {
	float: right;
	width: 50%;
	display: block !important;
	filter: grayscale(100%);
}

.newspaper .newspaper-image:hove img {
	filter: grayscale(0);
}

.newspaper .newspaper-description {
	font-size: 20px;
}

.newspaper .art-time {
	color: #7f6447;
}

.newspaper .newspaper-content {
	text-align: justify;
	line-height: 1.7;
	margin-top: 10px;
}

.newspaper img {
	width: 100%;
	margin: 10px 0;
	display: none;
}

.newspaper h4 {
	text-transform: uppercase;
	font-size: 22px;
	line-height: 1.3;
	color: #000000;
	text-align: justify;
}

.newspaper h4 a, .newspaper h4 a:hover {
	color: #000000;
	font-weight: bold;
}

.newspaper a, .newspaper .art-category {
	color: #000000;
}

.newspaper h1, .newspaper h2, .newspaper h3, .newspaper h5, .newspaper h6 {
	font-size: 1rem;
}

.section-counter {
	background-color: #248aa2;
}

.section-counter article h4 a {
	color: #c7f4ff;
}

.section-counter article h4 a:hover {
	color: #ffffff;
}

.section-counter article .art-category {
	color: #ffc107;
}

.section-counter article .art-time {
	color: #5cb4c9;
}

.section-counter-title {
	margin-bottom: -11px;
}

.section-counter-title h3 {
	color: #248aa2;
	font-size: 40px;
	font-family: system-ui;
	font-weight: 200;
}

#footer {
	background-color: #3d5a60;
}

#footer p {
	color: #688d95;
	line-height: 5;
	font-size: small;
}

.http-error h2 {
	font-size: 140px;
	font-weight: 700;
	line-height: 140px;
}

article.post-detail {
	background-color: #fff;
}

article.post-detail header.detail {
	margin-top: 15px;
}

article.post-detail header.detail h2 {
	font-family: Georgia;
	font-size: 35px;
	margin-top: 5px;
	color: #DF3062;
}

article.post-detail header.detail a {
	text-decoration: none;
	color: #258ca3;
	text-transform: uppercase;
}

article.post-detail header.detail .post-meta span {
	margin-left: 5px;
	color: #90949c;
}

article.post-detail header.detail .post-meta a {
	color: #90949c;
	text-transform: none;
}

article.post-detail .post-description {
	margin: 10px 0;
	font-size: calc(1rem + .3vw);
}

article.post-detail .post-content {
	font-size: 16px;
	line-height: 1.6;
	position: relative;
}

article.post-detail .post-content-start {
	width: 55px;
	float: left;
	z-index: 10;
}

article.post-detail .post-content-start ul {
	list-style: none;
}

article.post-detail .post-content-start li {
	margin-bottom: 10px;
}

article.post-detail .post-content-start li a {
	font-size: 20px;
	width: 50px;
	height: 50px;
	display: block;
	overflow: hidden;
	border: 1px solid #248aa2;
	color: #248aa2;
	border-radius: 50%;
	text-align: center;
	line-height: 2.4;
	text-decoration: none;
}

article.post-detail .post-content-start li:hover a {
	border: 1px solid #df3062;
	color: #df3062;
}

article.post-detail .post-content-start li:hover i {
	animation: heartBeat;
	-webkit-animation: heartBeat;
	-moz-animation: heartBeat;
	-ms-animation: heartBeat;
	-o-animation: heartBeat;
	animation-duration: 1s;
}

article.post-detail .post-content-end {
	position: relative;
	padding-left: 75px;
	z-index: 2;
}

article.post-detail .post-content > p {
	margin-bottom: 10px;
	text-align: left;
}

article.post-detail .post-content .post-content-end div, article.post-detail .post-content div div {
	width: 100%;
	text-align: center;
}

article.post-detail .post-content img {
	width: 100% !important;
	max-width: 600px !important;
	text-align: center;
	margin: 10px auto 5px auto;
}

article.post-detail .post-content video {
	width: 100% !important;
	max-width: 500px !important;
	height: 100%;
	max-height: 300px;
	margin: 5px auto;
}

article.post-detail .post-content .PhotoCMS_Caption {
	border-left: 3px solid #d8d8d8;
	width: 100% !important;
	max-width: 600px !important;
	margin: 0px auto 10px auto;
}

article.post-detail .post-content .PhotoCMS_Caption p, article.post-detail .post-content .caption p {
	padding: 0px 20px 0 10px;
	color: #5f5f5f;
	text-align: left;
}

article.post-detail .post-related {
	list-style: none;
	padding: 0 0 10px 15px;
	border-bottom: 1px solid #dfdfdf;
	margin: 15px 0;
}

article.post-detail .post-related li {
	margin-bottom: 10px;
	line-height: 1.2;
}

article.post-detail .post-related a {
	font-size: 14px;
	line-height: 16px;
	color: #383e54;
	text-decoration: none;
	position: relative;
}

article.post-detail .post-related a:hover {
	color: #DF3062;
}

article.post-detail .post-related a::before {
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background: #DF3062;
	content: '';
	position: absolute;
	top: 4px;
	left: -12px;
}

.fb-share {
	width: 100%;
	display: block;
	background: #38529a;
	padding: 10px;
	color: #fff;
	text-align: center !important;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	text-decoration: none;
}

.fb-share:hover {
	color: #fff;
}

.zalo-share a {
	width: 100%;
	display: block;
	background: #0098f7;
	padding: 10px;
	color: #fff;
	text-align: center !important;
	-webkit-border-radius: 8px;
	text-decoration: none;
}

.tag-list {

}

.tag-list a {
	font-size: 13px;
	display: inline-block;
	border: 1px solid #cee4e9;
	color: #248aa2;
	border-radius: 7px;
	margin: 0 10px 10px 0;
	padding: 2px 8px;
}

.tag-list a:hover {
	border: 1px solid #df3062;
	color: #df3062;
}

.sidebar-nav-fixed {
	position: sticky !important;
	top: 5rem;
}

.pagination > a, .pagination > a:hover, .pagination > a:focus, .pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #cd208a;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination .page-item.active .page-link {
	background-color: #d13198 !important;
	border-color: #c70c74;
}

.navbar-toggler-icon {
	width: 20px;
	height: 20px;
}

#menu_main_mobile li a {
	padding-left: 20px;
}

#menu_main_mobile li:hover, #menu_main_mobile li a:hover {
	background: none;
	color: #DF3062;
}

#btn_scroll_to_top {
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 99;
	outline: none;
	background-color: rgb(255 178 228 / 30%);
	border: 1px solid #d02f98;
	color: #d02f98;
	cursor: pointer;
	padding: 7px 14px;
	border-radius: 10px;
	font-size: 18px;
	animation: fadeInBottomRight;
	-webkit-animation: fadeInBottomRight;
	-moz-animation: fadeInBottomRight;
	-ms-animation: fadeInBottomRight;
	-o-animation: fadeInBottomRight;
	animation-duration: 1s;
}

#btn_scroll_to_top:hover {
	background-color: rgb(255 178 228 / 60%);
}

.position-sticky {
	/*position: -webkit-sticky;*/
	/*position: sticky;*/
	top: 60px;
}
