/* Add here all your CSS customizations */

body {

}

p {
    color: #2d2d2d;
    line-height: 20px;
    margin: 0 0 5px;
    text-align: justify !important;
}

article a { text-align: justify !important; }

article h1, article h2, article h3, article h4, article h5, article h6 { text-align: justify !important; }
img.image-grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img.image-grayscale:hover, .article-hot:hover .image-grayscale {
    -webkit-filter: none;
    filter: none;
}

.header-logo a { display: block; overflow: hidden; }
.header-logo a img { max-width: 200px; overflow: hidden; display: block; }
