/* Add here all your CSS customizations */

body {

}

p {
    color: #2d2d2d;
    line-height: 20px;
    margin: 0 0 5px;
    text-align: justify !important;
}

img.image-grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img.image-grayscale:hover, .article-hot:hover .image-grayscale {
    -webkit-filter: none;
    filter: none;
}

html .bg-color-primary, html .bg-primary {
    background-color: #cb1884 !important;
}
html .text-color-primary, html .text-primary {
    color: #383737 !important;
}

.header-logo a { display: block; overflow: hidden; }
.header-logo a img { max-width: 200px; overflow: hidden; display: block; }

.post.post-detail, .post-category-list {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.post.post-detail h2 { }
.post.post-detail .detail-content p { padding: 0 20px; line-height: 24px; }
.post.post-detail .detail-content div { width: 100%; text-align: center; }
.post.post-detail .detail-content img, { width: 100% !important; max-width: 500px !important; margin: 10px 0; height: 100% !important; }
.post.post-detail .detail-content video { width: 100% !important; max-width: 500px !important; margin: 10px 0; }

.post.post-detail .detail-content h1, .post.post-detail .detail-content h2, .post.post-detail .detail-content h3,
.post.post-detail .detail-content h4, .post.post-detail .detail-content h5, .post.post-detail .detail-content h6
{
    margin: 0; padding: 8px 20px;
}
.post.post-detail .detail-content h1 { font-size: 20px; }
.post.post-detail .detail-content h2 { font-size: 18px; }
.post.post-detail .detail-content h3 { font-size: 17px; }
.post.post-detail .detail-content h4 { font-size: 16px; }
.post.post-detail .detail-content h5 { font-size: 15px; }
.post.post-detail .detail-content h6 { font-size: 14px; }

.post.post-detail .padding { padding: 20px; }

.post.post-detail a {
    text-decoration: none !important;
}

.fb-share {
    width: 100%;
    display: block;
    background: #38529a;
    padding: 10px;
    color: #fff;
    text-align: center !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    text-decoration: none;
}

.zalo-share a {
    width: 100%;
    display: block;
    background: #0098f7;
    padding: 10px;
    color: #fff;
    text-align: center !important;
    -webkit-border-radius: 8px;
    text-decoration: none;
}

#header .header-btn-collapse-nav {
    background: #ca0e7d;
}

#header .header-body {
    border-top: none !important;
    border-bottom: none !important;
    padding-top: 3px !important;
}

.list.list-ordened.list-ordened-style-3 li:before {
    background-color: #d1339b;
}

#header .header-nav.header-nav-links nav > ul li:hover > a {
    color: #cd208a;
}

#header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a {
    color: #6d4a7b;
}

.pagination > a, .pagination > a:hover, .pagination > a:focus, .pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #cd208a;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .pagination .page-item.active .page-link {
    background-color: #d13198 !important;
    border-color: #c70c74;
}

@media (max-width: 991px) {
    html.side-header #header.side-header .header-container {
        height: 50px !important;
    }
}

@media (max-width: 575px) {
    .text-3 {
        font-size: 1.08em !important;
    }
}
