
html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}

article .art-image {
	margin-right: 7px;
}

article.post-detail header.detail {
	margin-top: 5px;
}

article.post-detail .post-content {
	padding-left: 0;
	position: inherit;
}

#btn_scroll_to_top {
	bottom: 25px;
	right: 25px;
}

article.post-detail {
	width: 100%;
	overflow: hidden;
}

.padding-x,
article.post-detail .post-content p, article.post-detail .post-content span,
article.post-detail .post-content h1, article.post-detail .post-content h2, article.post-detail .post-content h3,
article.post-detail .post-content h4, article.post-detail .post-content h5, article.post-detail .post-content h6
{
	padding-left: 15px !important;
	padding-right: 15px !important;
	display: block;
}
