
html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}

article.post-detail {
	width: 100%;
	overflow: hidden;
}

article .art-image {
	margin-right: 7px;
}

article.post-detail header.detail {
	margin-top: 5px;
}

article.post-detail .post-content {
	padding: 0;
	/* position: inherit; */
}

#btn_scroll_to_top {
	bottom: 25px;
	right: 25px;
}

.catcool-table-of-contents .button-table-of-content {
	bottom: 25px !important;
	left: 25px !important;
}
